body {
    font-family: "Roboto";
    font-size: 14px;
    margin: 0;
}

//element colors
$link_hover_color: $color-primary-red--darken-5;
$disabled_text_color: $color-medium-grey--lighten-10;

.alert-info {
    background: $color-dark-grey;
}

.message-success {
    background: #4bb543;
}

.alert-error {
    background-color: red;
}

a {
    color: $color-dark-grey;
    text-decoration: none;
}

a:hover,
a:active,
button:hover:enabled {
    color: $link_hover_color;
    text-decoration: none;
}

button:disabled {
    color: $disabled_text_color;
}

input[type="text"],
input[type="phone"],
input[type="email"] {
    width: 100%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid $color-light-grey--lighten-5;
    box-shadow: inset 0 1px 1px $color-light-grey;
    padding: 0.65rem;
}

input[type="text"]::-webkit-input-placeholder,
input[type="phone"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
    color: $color-medium-grey--lighten-5;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="phone"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder {
    color: $color-light-grey--lighten-20;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus {
    border-radius: 4px;
    background-color: white;
    border: 1px solid $color-light-grey--lighten-5;
    box-shadow: inset 0 1px 1px $color-light-grey;
    outline-color: $color-light-grey--lighten-5;
}

input[type="submit"] {
    margin-top: 10px;
}

input[type="submit"] {
    width: 100%;
}
